target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
*.class

# IntelliJ
.idea/
*.iml
*.iws

# VS Code
.vscode/
.project
.classpath
.settings/
bin/

# Logs
logs/
*.log

# Environment Variables
.env
